<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mpwatchfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fb124482-bb0f-46a8-a5b6-27c9ef107e5a/resourceGroups/learn-387c1218-ed3e-4200-8042-215e4cef961a/providers/Microsoft.Web/sites/MPwatchfunctions</ResourceId>
    <UserName>$MPwatchfunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mpwatchfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>